body{
    background-color: #141414;
}
.navbar-dark{
    background-color: #141414 !important;
}
#btn1{

    color: #696969;
    background-color: #141414;
    border: 1px solid #696969;
    border-radius: 2px;
    width: 6em;
    height: 1.8em;
    vertical-align: middle;
}

.row a{
    text-decoration: none;
    color: #696969;

}
.icons-right a{
    margin: 0;
    border: 1px solid #696969;
    display: inline-block;
    padding: 0 0.4em;
    vertical-align: middle;
    right: 0;

}

h3{
    padding-left: 0;
    padding-right: 0;
}
/* 
.container {
    background-color: #141414;
}
.container-fluid{
    background-color: rgb(36, 35, 35);
    color: white;
}
#list{
    color: white;
}
#navbar{
    padding: 0%;
}
.row{
    padding: 0%;
    color: white;
}
.dropdown{
    color: white;
    
    padding: 2px;
}
#secHeading{
    color: white;
} 
#sec3imgid{
    height: 200px;
    width: 200px;
    
    display: flexbox;
}   
#btn1{
    height: 40px;
    font-size: 10px;
}
#foot{
    text-align: center;
    display: flex;
} */